{{ define "content" }}


   <!-- Section des services -->
   <div class="services_section layout_padding" style="margin-top: 20px;"> <!-- Ajustement de la marge supérieure -->
      <div class="container-fluid">
         <div class="row">
            <div class="col-sm-12">
               <!-- Titre de la section -->
               <h1 class="services_taital text-center" style="font-size: 48px; color: #191970;">Nos missions</h1> <!-- Taille de la police augmentée à 48 et couleur bleue de nuit -->
            </div>
         </div>
         <div class="services_section_2">
            <div class="row">
               <!-- Service 1 -->
               <div class="col-lg-3 col-sm-6">
                  <div class="box_main active">
                     <!-- Titre du service -->
                     <h4 class="development_text" style="text-align: center;">Accompagner nos clients</h4> <!-- Aligné au centre -->
                     <!-- Description du service -->
                     <p class="services_text">Un cabinet de construction doit offrir un accompagnement personnalisé à chaque client, depuis la phase initiale de consultation jusqu'à la finition du projet. Cela signifie écouter attentivement les besoins et objectifs du client, lui fournir des conseils éclairés sur les options disponibles et assurer une présence active pendant toute la durée du chantier.</p> <!-- Aligné justifié -->
                  </div>
               </div>
               <!-- Service 2 -->
               <div class="col-lg-3 col-sm-6">
                  <div class="box_main">
                     <!-- Titre du service -->
                     <h4 class="development_text" style="text-align: center;">Offrir un environnement paisible</h4> <!-- Aligné au centre -->
                     <!-- Description du service -->
                     <p class="services_text" style="text-align: justify;">Lorsque vous construisez une nouvelle maison ou effectuez des rénovations importantes, il y a souvent beaucoup de perturbations et de désordre. Le rôle d'un cabinet de construction est donc non seulement de s'assurer que le travail soit bien réalisé, mais aussi de minimiser autant que possible l'impact négatif sur votre vie quotidienne. Ils doivent veiller à maintenir un site propre et sécurisé, respecter les horaires convenus et communiquer régulièrement avec vous concernant l'avancement des travaux.</p> <!-- Aligné justifié -->
                  </div>
               </div>
               <!-- Service 3 -->
               <div class="col-lg-3 col-sm-6">
                  <div class="box_main">
                     <!-- Titre du service -->
                     <h4 class="development_text" style="text-align: center;">Vous fournir des plans de construction bien détaillé</h4> <!-- Aligné au centre -->
                     <!-- Description du service -->
                     <p class="services_text" style="text-align: justify;">Avant même de commencer la construction, un bon cabinet devrait être capable de vous fournir des plans de haute qualité, clairs et précis. Ces documents techniques contiennent toutes les informations nécessaires pour guider chaque aspect du processus de construction, y compris les spécifications relatives aux matériaux, aux équipements et aux systèmes installés. Des plans bien conçus peuvent aider à éviter les erreurs et faciliter grandement le travail sur le terrain.</p> <!-- Aligné justifié -->
                  </div>
               </div>
               <!-- Service 4 -->
               <div class="col-lg-3 col-sm-6">
                  <div class="box_main">
                     <!-- Titre du service -->
                     <h4 class="development_text" style="text-align: center;">Avoir un accompagnement avant et après service</h4> <!-- Aligné au centre -->
                     <!-- Description du service -->
                     <p class="services_text" style="text-align: justify;">Un cabinet de construction digne de confiance ne se contentera pas uniquement de livrer un produit final impeccable ; il sera également présent pour répondre à vos questions ou préoccupations tant avant qu'après la construction. Cet engagement va au-delà de simples garanties constructeurs : il s'agit véritablement d'établir une relation durable basée sur la transparence, la fiabilité et le professionnalisme.</p> <!-- Aligné justifié -->
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- Fin de la section des services -->

   <!-- Espace -->
   <div style="height: 50px;"></div>

{{ end }}
