{{define "footer"}}
   <!-- footer section start -->
   <div class="footer_section layout_padding">
    <div class="container">
       <div class="row">
          <div class="col-md-12">
             <div class="location_text">
                <ul>
                   <li>
                      <a href="#"><span class="padding_15"><i class="fa fa-mobile" aria-hidden="true"></i></span>
                         <br>Appel +225 0707708070</a>
                   </li>
                   <li class="active">
                      <a href="#"><span class="padding_15"><i class="fa fa-envelope" aria-hidden="true"></i></span>
                         <br>rolandeconstruction@gmail.com</a>
                   </li>
                </ul>
             </div>
          </div>
       </div>
    </div>
 </div>
 <!-- footer section end -->
 {{end}}
