{{define "content"}}
   <!-- projects section start -->
   <div class="projects_section layout_padding">
      <div class="container">
         <div class="row">
            <div class="col-md-12">
               <h1 class="projects_taital">Projects</h1>
               <div class="nav-tabs-navigation">
                  <div class="nav-tabs-wrapper">
                     <ul class="nav " data-tabs="tabs">
                        <li class="nav-item">
                           <a class="nav-link " href="#" data-toggle="tab">Chantiers</a>
                        </li>
                        <li class="nav-item">
                           <a class="nav-link " href="#" data-toggle="tab">Rénovations</a>
                        </li>
                        <li class="nav-item">
                           <a class="nav-link " href="#" data-toggle="tab">Plans</a>
                        </li>
                        <li class="nav-item">
                           <a class="nav-link " href="#" data-toggle="tab">Building</a>
                        </li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="projects_section_2 layout_padding">
         <div class="container">
            <div class="pets_section">
               <div class="pets_section_2">
                  <div id="main_slider" class="carousel slide" data-ride="carousel">
                     <div class="carousel-inner">
                        <div class="carousel-item active">
                           <div class="row">
                              <div class="col-md-4">
                                 <div class="container_main">
                                    <img src="/static/images/img-1.png" alt="" class="image">
                                    <div class="overlay">
                                       <div class="text">
                                          <h4 class="some_text"><i class="fa fa-link" aria-hidden="true"></i></h4>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="project_main">
                                    <h2 class="work_text">Nos réalisations</h2>
                                 </div>
                              </div>
                              <div class="col-md-4">
                                 <div class="container_main">
                                    <img src="/static/images/img-2.png" alt="" class="image">
                                    <div class="overlay">
                                       <div class="text">
                                          <h4 class="some_text"><i class="fa fa-link" aria-hidden="true"></i></h4>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="project_main">
                                    <h2 class="work_text">Nos réalisations</h2>
                                 </div>
                              </div>
                              <div class="col-md-4">
                                 <div class="container_main">
                                    <img src="/static/images/img-3.png" alt="" class="image">
                                    <div class="overlay">
                                       <div class="text">
                                          <h4 class="some_text"><i class="fa fa-link" aria-hidden="true"></i></h4>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="project_main">
                                    <h2 class="work_text">Nos réalisations</h2>

                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="carousel-item">
                           <div class="row">
                              <div class="col-md-4">
                                 <div class="container_main">
                                    <img src="/static/images/img-1.png" alt="" class="image">
                                    <div class="overlay">
                                       <div class="text">
                                          <h4 class="some_text"><i class="fa fa-link" aria-hidden="true"></i></h4>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="project_main">
                                    <h2 class="work_text">Nos réalisations</h2>
                                 </div>
                              </div>
                              <div class="col-md-4">
                                 <div class="container_main">
                                    <img src="/static/images/img-2.png" alt="" class="image">
                                    <div class="overlay">
                                       <div class="text">
                                          <h4 class="some_text"><i class="fa fa-link" aria-hidden="true"></i></h4>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="project_main">
                                    <h2 class="work_text">Nos réalisations</h2>
                                 </div>
                              </div>
                              <div class="col-md-4">
                                 <div class="container_main">
                                    <img src="/static/images/img-3.png" alt="" class="image">
                                    <div class="overlay">
                                       <div class="text">
                                          <h4 class="some_text"><i class="fa fa-link" aria-hidden="true"></i></h4>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="project_main">
                                    <h2 class="work_text">Nos réalisations</h2>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="carousel-item">
                           <div class="row">
                              <div class="col-md-4">
                                 <div class="container_main">
                                    <img src="/static/images/img-1.png" alt="" class="image">
                                    <div class="overlay">
                                       <div class="text">
                                          <h4 class="some_text"><i class="fa fa-link" aria-hidden="true"></i></h4>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="project_main">
                                    <h2 class="work_text">Nos réalisations</h2>

                                 </div>
                              </div>
                              <div class="col-md-4">
                                 <div class="container_main">
                                    <img src="/static/images/img-2.png" alt="" class="image">
                                    <div class="overlay">
                                       <div class="text">
                                          <h4 class="some_text"><i class="fa fa-link" aria-hidden="true"></i></h4>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="project_main">
                                    <h2 class="work_text">Nos réalisations</h2>
                                 </div>
                              </div>
                              <div class="col-md-4">
                                 <div class="container_main">
                                    <img src="/static/images/img-3.png" alt="" class="image">
                                    <div class="overlay">
                                       <div class="text">
                                          <h4 class="some_text"><i class="fa fa-link" aria-hidden="true"></i></h4>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="project_main">
                                    <h2 class="work_text">Nos réalisations</h2>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     </a>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- projects section end -->
   {{end}}