{{define "content" }}
   <!-- services section start -->
   <div class="services_section layout_padding">
      <div class="container-fluid">
         <div class="row">
            <div class="col-sm-12">
               <h1 class="services_taital text-center" style="font-size: 48px; color: #191970;">Nos services</h1> <!-- Taille de la police augmentée à 48 et couleur bleue de nuit -->
            </div>
         </div>
         <div class="services_section_2 mb-4">
            <div class="row">
               <div class="col-lg-3 col-sm-6">
                  <div class="box_main active text-center"> <!-- Aligné au centre -->
                     <div class="service_img"><img src="/static/images/icon-1.png"></div>
                     <h4 class="development_text">Service de construction</h4>
                     <p class="services_text">Cela implique la planification, l'organisation et la supervision du processus de construction d'un bâtiment ou d'une infrastructure. Il peut inclure des activités telles que le terrassement, la maçonnerie, la plomberie, l'électricité, la menuiserie, etc.</p>
                  </div>
               </div>
               <div class="col-lg-3 col-sm-6">
                  <div class="box_main text-center"> <!-- Aligné au centre -->
                     <div class="service_img"><img src="/static/images/icon-2.png"></div>
                     <h4 class="development_text">Modélisation du bâtiment</h4>
                     <p class="services_text" style="text-align: justify;"> Ce service consiste à créer un modèle virtuel en trois dimensions (3D) d'un bâtiment avant sa construction réelle. Cette méthode permet aux architectes et aux ingénieurs de visualiser et d'analyser le projet dans ses moindres détails afin d'identifier et de résoudre tout problème potentiel avant la phase de construction.</p> <!-- Aligné justifié -->
                  </div>
               </div>
               <div class="col-lg-3 col-sm-6">
                  <div class="box_main text-center"> <!-- Aligné au centre -->
                     <div class="service_img"><img src="/static/images/icon-3.png"></div>
                     <h4 class="development_text">Conceptions</h4>
                     <p class="services_text" style="text-align: justify;">Le département de conception est responsable de la création des plans et dessins techniques pour la construction d'un bâtiment. Les concepteurs travaillent en étroite collaboration avec les clients pour comprendre leurs besoins et préférences, puis utilisent ce briefing pour produire des conceptions qui reflètent ces exigences.</p> <!-- Aligné justifié -->
                  </div>
               </div>
               <div class="col-lg-3 col-sm-6">
                  <div class="box_main text-center"> <!-- Aligné au centre -->
                     <div class="service_img"><img src="/static/images/icon-4.png"></div>
                     <h4 class="development_text">Management</h4>
                     <p class="services_text" style="text-align: justify;">La gestion de projet fait partie intégrante du secteur de la construction. Elle englobe tous les aspects liés au contrôle et à la coordination des ressources humaines, matérielles et financières nécessaires à la réalisation d'un projet de construction. Ceci inclut notamment l'établissement d'un calendrier, le suivi des coûts, la gestion des risques, ainsi que la communication entre toutes les parties prenantes.</p> <!-- Aligné justifié -->
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- services section end -->
   
   {{end}}
